@using Walkies.Framework.BaseClasses;

@model PageModelBase

@{ 
    var pageModel = Model ?? new PageModelBase();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@pageModel.PageTitle - Walkies</title >
    <link href='@(Request.Url.Scheme)://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,600,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/css")

</head>
<body id="page-top" class="@If( Request.Url.AbsolutePath != "/" , "affixed" )">

    @Html.Partial( "Navigation" )
    @RenderBody()

    @Scripts.Render("~/scripts/jquery")
    @Scripts.Render( "~/scripts/bootstrap" )
    @Scripts.Render( "~/scripts/app" )

    @RenderSection("scripts", required: false)

    <script>

        $( function ()
        {
            var options = {};
            _app = new walkies.app( options );
        } );

    </script>

</body>
</html>
